
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    /* Estilos para o corpo */
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;      /* Centraliza verticalmente */
      align-items: center;          /* Centraliza horizontalmente */
      font-family: 'Ubuntu', sans-serif;
      background-image: radial-gradient(circle at bottom left, 
      #000000,   /* Vermelho */
      #198cd9,   /* Amarelo */
      #c335ef,   /* Verde claro */
      #5b0b97,   /* Azul claro */
      #000000    /* Roxo */
      );
      background-size: 600% 600%;
      animation: gradientBG 17s ease infinite;
      color: white;
      text-align: center;
    }

    /* Contêiner do texto */
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      margin: 0;
      background: linear-gradient(270deg, 
      #eb8fc6,   /* Vermelho */
      #f5f5f5,   /* Amarelo */
      #654d63,   /* Verde claro */
      #5c013b,   /* Azul claro */
      #000000    /* Roxo */
      );
      background-size: 600% 600%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientText 9s ease infinite;
    }

    /* Botão de link */
    .github-button {
      margin-left: 120px;  
      margin-right: 120px;  
      padding: 10px 30px;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      background: #4c5257;  /* Cor inicial do botão */
      border: none;
      border-radius: 35px;
      cursor: pointer;
      transition: all 0.7s ease; /* Suaviza a transição */
    }

    .github-button:hover {
      background: #c1c1c1;  /* Cor ao passar o mouse */
      transform: scale(1.1); /* Efeito de leve aumento */
    }

    /* Animação do gradiente no fundo */
    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    /* Animação do gradiente no texto */
    @keyframes gradientText {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    /* Responsividade: telas menores que 768px */
    @media (max-width: 768px) {
      h1 {
        font-size: 2rem;
      }

      .container {
        gap: 15px;
      }

      .github-button {
        font-size: 0.9rem;
        padding: 12px 25px;
      }
    }

    /* Responsividade: telas menores que 480px */
    @media (max-width: 480px) {
      h1 {
        font-size: 1.5rem;
      }

      .container {
        gap: 10px;
      }

      .github-button {
        font-size: 0.8rem;
        padding: 10px 20px;
      }
    }
